# ORIGINAL REVOLVE ------------------------------------------------------------
# Experiment files
# log.txt
# *.sqlite

# JMDM ------------------------------------------------------------------------
# TEMP TODO: unlock later
# examples/6_dev_programs
# examples/7_ann_test

# Folders
# __*__
# modular_robot_physical
# robohat/*

# MuJoCo
# MUJOCO_LOG.TXT

# Aim-stack
# *.aim

# Performance stats
# *.pstats

# Pickled objects
# *.pkl

# Ruff linter
# .ruff_cache/

# Torchvision images
# *.gz

# PyTorch model files
# *ubyte

# Graphviz files
# *.gv

# Draw.io files
# *.drawio

# Video files
# *.mp4

# VSCODE AUTOGEN ##############################################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
