# ORIGINAL REVOLVE ------------------------------------------------------------
# Experiment files
# log.txt
# *.sqlite

# JMDM ------------------------------------------------------------------------
# Folders
# __*__

# MuJoCo
# MUJOCO_LOG.TXT

# Aim-stack
# *.aim

# Performance stats
# *.pstats

# Pickled objects
# *.pkl

# Ruff linter
# .ruff_cache/

# Torchvision images
# *.gz

# PyTorch model files
# *ubyte

# TEMP TODO: unlock later
examples/999_thesis
